  <!-- views/partials/head.ejs -->
  <meta charset="UTF-8">
  <title><%= title %></title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- jQuery -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <!-- Styles -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <!-- JS -->
  <script type="text/javascript" src="/javascripts/etsy-search.js"></script>
