<header>
  <section>
    <div class="row">
      <div class="col-md-4">
        <a href="/listings">Listings</a>
      </div>
      <div class="col-md-4">
        <a href="/tags">Tags</a>
      </div>
      <div class="col-md-4">
        <button type="button" name="button">Stats</button>
      </div>
    </div>
  </section>
</header>
