<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
      <form id="etsy-search">
          <input id="etsy-terms" size="32">
          <button>Search!</button>
      </form>

      <div id="etsy-images"></div>

    <% include ./partials/footer %>
  </body>
  </html>
