<div class="row">
  <div class="col-md-12">
    <select>
       <% result.forEach(function(section) { %>
          <option><%= section.title %></option>
       <% }); %>
    </select>
    <p><% result %></p>
  </div>
</div>
